<!-- Header -->
<app-header></app-header>
<div *ngIf="errors" class="alert alert-danger " role="alert">
  {{errors}}
</div>

<!-- Products -->
<br>
<div class="container mt-10">
  <div class="row">
    <div class="col-lg-4 mb-4" *ngFor="let product of products">
      <div class="card" *ngIf="!errorMs.includes(product.id) else elsepart">
        <img src={{product.imageUrl}} class="card-img-top product-card" alt="...">
        <div class="card-body" style="background-color: #c7aff5;">
          <a routerLink="/search/{{product.productName}}">
            <h5 class="card-title">{{product.productName}}</h5>
            <!-- <p class="card-text">{{product.description}}</p> -->
          </a>
          <article class="card-text item">
            <p class="card-text font-weight-bold leftContent">₹{{product.price}}</p>
            <p class="font-weight-bold text-danger rightContent" *ngIf="isAdmin && product.updateRequired">*Update Required</p>
          </article>
          <h6 class="text-danger">{{product.productStatus}}</h6>

          <button type="button" class="btn btn-warning mr-4 mt-3" *ngIf="!isAdmin" data-toggle="modal"
            (click)="clickWishModel()" attr.data-target="#wishmodel{{product.id}}">
            Add To Wishlist
          </button>
          <button type="button" class="btn btn-warning mr-4 mt-3" *ngIf="isAdmin" (click)="updateClick(product)"
            data-toggle="modal">
            Update
          </button>
          <button type="button" (click)="deleteClick(product.id,product.productName)" class="btn btn-danger mr-4 mt-3"
            *ngIf="isAdmin" data-toggle="modal">
            Delete
          </button>
          <!-- <button (click)="deletebtn(cart.cartId)" class="btn btn-danger">Delete</button> -->



          <div class="modal fade bd-example-modal-sm" *ngIf="isUser" id="wishmodel{{product.id}}">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add to wishlist</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body" *ngIf="isUser">
                  <form #wishForm="ngForm" (submit)="wishData(wishForm.value)" ngNativeValidate>
                    <input hidden type="text" name="productId" class="form-control" [(ngModel)]="product.id" required>
                    <input hidden type="text" name="productName" class="form-control" [(ngModel)]="product.productName" required>
                    <div class="form-group">
                      <label for="quantity">Quantity</label>
                      <input type="number" name="quantity" class="form-control" ngModel="1" required>
                    </div>


                    <button type="submit" class="btn btn-lg btn-block btn-warning">Add To wishlist</button>

                  </form>
                </div>

              </div>
            </div>
          </div>




          <button type="button" class="btn btn-success mt-3" *ngIf="!isAdmin" data-toggle="modal"
            (click)="clickWishModel()" attr.data-target="#cartmodel{{product.id}}">
            Add To Cart
          </button>


          <!-- Modal -->
          <div class="modal fade bd-example-modal-sm" *ngIf="isUser;" id="cartmodel{{product.id}}">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add to cart</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body ">
                  <form #basicForm="ngForm" (submit)="addtoCart(basicForm.value)" ngNativeValidate>
                    <input hidden type="text" name="productId" class="form-control" [(ngModel)]="product.id" required>
                    <input hidden type="text" name="productName" class="form-control" [(ngModel)]="product.productName" required>
                    <div class="form-group">
                      <label for="quantity">Quantity</label>
                      <input type="number" name="quantity" class="form-control" ngModel="1" required>
                    </div>
                    <div class="form-group">
                      <label for="zip">Zip Code</label>
                      <input type="number" ngModel name="zipcode" class="form-control" id="zip" minlength="4" required>
                    </div>

                    <button type="submit" class="btn btn-lg btn-block btn-primary">Add To Cart</button>

                  </form>

                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <ng-template #elsepart>

        <div class="card" *ngIf="errorMs.includes(product.id)">
          <img src={{product.imageUrl}} class=" card-img-top product-card" alt="...">
          <div class="card-body" style="background-color: #ee74c5">
            <a routerLink="/search/{{product.productName}}">
              <h5 class="card-title">{{product.productName}}</h5>
            </a>
            <article class="item">
              <p class="card-text font-weight-bold leftContent">₹{{product.price}}</p>
              <p class="font-weight-bold text-danger rightContent" *ngIf="isAdmin && product.updateRequired">*Update Required</p>
            </article>
            

            <h6 class="text-danger">{{product.productStatus}}</h6>

            <button type="button" class="btn btn-warning mr-4 mt-3" *ngIf="!isAdmin" data-toggle="modal"
              (click)="clickWishModel()" attr.data-target="#wishmodel{{product.id}}">
              Add To Wishlist
            </button>
            <button type="button" class="btn btn-warning mr-4 mt-3" *ngIf="isAdmin" (click)="updateClick(product)"
              data-toggle="modal">
              Update
            </button>
            <button type="button" (click)="deleteClick(product.id,product.productName)" class="btn btn-danger mr-4 mt-3"
              *ngIf="isAdmin" data-toggle="modal">
              Delete
            </button>

            <div class="modal fade" *ngIf="isUser;" id="wishmodel{{product.id}}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to wishlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <form #wishForm="ngForm" (submit)="wishData(wishForm.value)" ngNativeValidate>
                      <input hidden type="text" name="productId" class="form-control" [(ngModel)]="product.id" required>
                      <input hidden type="text" name="productName" class="form-control" [(ngModel)]="product.productName" required>
                      <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantity" class="form-control" ngModel="1" required>
                      </div>


                      <button type="submit" class="btn btn-lg btn-block btn-warning">Add To wishlist</button>

                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #notTrue>
    <div class="vertical-center text-center">
      <img src="assets/cart.png" class="img-fluid" alt="">
      <P class="text-muted">No products are available</P>
      <a routerLink="/products"> <button class="btn btn-success mt-3 rounded-0 shadow-sm">GO TO
          HOMEPAGE</button> </a>
    </div>
  </ng-template>



</div>
