<!-- Header -->
<app-header></app-header>



<!-- Cart -->
<!-- <div class="container"> -->
<div class="container mt-10">
  <br>
  <!-- <div class="card-body">
            <button class="btn btn-success float-lg-right">Proceed To Buy</button>
        </div> -->


  <!-- <div> -->
  <div class="row " *ngIf="cartdata?.length > 0; else notTrue">
    <!-- <div class="col-lg-6 mb-4"> -->
    <div class="col-lg-4 mb-4" *ngFor="let cart of cartdata">
      <div class="card">
        <img src={{cart.product.imageUrl}} class="card-img-top product-card" alt="..." height="300px">

        <div class="card-body">
          <h5 class="card-title">{{cart.product.productName}}
          </h5>
          <p class="card-text">{{cart.product.description}}</p>
          <p class="card-text">&#8377;{{cart.product.price}}</p>
          <p class="card-text ">Zip Code: {{cart.zipCode}}</p>
          <p class="card-text">Quantity: {{cart.quantity}}</p>
          <hr>
          <button (click)="deletebtn(cart.product.productName)" class="btn btn-danger">Delete</button>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total = {{grandTotal + subTotal}} <span class="h6">(Sub Total +
              Delivery Charge)</span></h5>

          <hr>
          <h6 class="card-title mb-2">Sub Total = &#8377;{{grandTotal}} </h6>
          <h6>Total Delivery fee = &#8377;{{subTotal}}</h6>

          <div *ngFor="let cart of cartdata">

            <hr>
            <p class="card-text">{{cart.product.name}} Price = &#8377;{{cart.product.price *
                                    cart.quantity}} (Quantity {{cart.quantity}})</p>
            <p class="card-text">Delivery fee = &#8377;{{deliveryCharge}}</p>

          </div>
          <hr>
          <button type="button" class="btn btn-success float-lg-right" data-toggle="modal"
            data-target=".bd-example-modal-sm">Proceed To Buy</button>


          <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body ">
                  <h5>Your Order Has Been Successfully Placed!</h5>
                </div>

              </div>
            </div>
          </div>
          <!-- <button class="btn btn-success float-lg-right">Proceed To Buy</button> -->
        </div>
      </div>

    </div>


  </div>


  <ng-template #notTrue>
    <div class="vertical-center text-center">
      <img src="assets/cart.png" class="img-fluid" alt="">
      <P class="text-muted">Your Shopping Bag Is Empty</P>
      <a routerLink="/products"> <button class="btn btn-success mt-3 rounded-0 shadow-sm">GO TO
          HOMEPAGE</button> </a>
    </div>
  </ng-template>
  <!-- </div> -->



</div>


<!-- </div> -->
